<li class="fade row flex flex-wrap items-center justify-between max-w-52">
  <h4 class="w-24"><span class="text-orange-300 font-extrabold text-xl">> </span>{{lang1}}</h4>
  <h4 class="w-24"><span class="text-orange-300 font-extrabold text-xl">> </span>{{lang2}}</h4>
</li>