<h4
  id="stats"
  hx-get="/about/false"
  hx-target="#stats"
  hx-swap="outerHTML"
  hx-trigger="every 5s"
>
  Hello! My name is Ekam, and I love computers. In my free time I play around
  with new programming languages, learn new concepts, mess around with Linux,
  and self host services. In fact the website is hosted on my computer! It
  currently has
  <span class="text-orange-300">{{vists}} vists</span>
  and has been up for
  <span class="text-orange-300">{{uptime}} days.</span>
  Here are some of my skills:
</h4>