<div class="content-window row flex justify-content-center">
  <div class="w-5/12 justify-start border rounded-lg border-orange-300">
    <div class="p-14">
      <h2 class="pb-6">About</h2>
       <div
        id="stats"
        hx-get="/about/true"
        hx-target="#stats"
        hx-swap="outerHTML"
        hx-trigger="load"
      ></div>
      <ul class="pt-6">
        <div
        id="list1"
        hx-get="/about/JavaScript/Node"
        hx-target="#list1"
        hx-swap="outerHTML"
        hx-trigger="load"
      ></div>
      <div
        id="list2"
        hx-get="/about/React/Java"
        hx-target="#list2"
        hx-swap="outerHTML"
        hx-trigger="load"
      ></div>
      <div
        id="list3"
        hx-get="/about/Golang/Rust"
        hx-target="#list3"
        hx-swap="outerHTML"
        hx-trigger="load"
      ></div>
      </ul>
    </div>
  </div>
</div>
