<div class="content-window">
  <div class="w-5/12 justify-start border rounded-lg border-orange-300">
    <div class="p-14">
      <div
        id="content"
        hx-get="/experience/0"
        hx-target="#content"
        hx-swap="outerHTML"
        hx-trigger="load"
      ></div>
      <div class="w-full row justify-around pt-6">
        <button
          class="w-1/5 fade3 bg-transparent border-white border-2 rounded py-2 px-4 text-white hover:bg-white hover:text-black"
          hx-get="/experience/0"
          hx-target="#content"
          hx-swap="outerHTML"
          hx-trigger="click"
        >
          Meta
        </button>
        <button
          class="w-1/5 fade3 bg-transparent border-white border-2 rounded py-2 px-4 text-white hover:bg-white hover:text-black"
          hx-get="/experience/1"
          hx-target="#content"
          hx-swap="outerHTML"
          hx-trigger="click"
        >
          Zipline
        </button>
        <button
          class="w-1/5 fade3 bg-transparent border-white border-2 rounded py-2 px-4 text-white hover:bg-white hover:text-black"
          hx-get="/experience/2"
          hx-target="#content"
          hx-swap="outerHTML"
          hx-trigger="click"
        >
          MLH
        </button>
        <button
          class="w-1/5 fade3 bg-transparent border-white border-2 rounded py-2 px-4 text-white hover:bg-white hover:text-black"
          hx-get="/experience/3"
          hx-target="#content"
          hx-swap="outerHTML"
          hx-trigger="click"
        >
          Coder School
        </button>
      </div>
    </div>
  </div>
</div>
