<div class="content-window">
  <div class="justify-start w-6/12">
    <h3 class="text-orange-300">Hello, my name is</h3>
    <h1>Ekam Ghai.</h1>
    <h1 class="text-gray-300">I'm a Full Stack Dev.</h1>
    <h4 class="text-gray-400 max-w-md pb-5">
      As a freelancer, I build fast, reliable, and simple digital solutions. Currently I'm studying 
      <span class="text-orange-300">Computer Science at RIT</span>
    </h4>
    <button class="fade3 bg-transparent border-white border-2 rounded py-2 px-4 text-white hover:bg-white hover:text-black"
    onclick="window.location.href='/static/assets/Resume.pdf';">
    Check Out My Resume!
  </button>
  </div>
</div>
