<div class="fade h-full flex flex-wrap flex-col items-center justify-center">
  <h3>
    Hello I'm Ekam
  </h3>
  <div class="flex-row flex h-40">
    <h2>
      I'm a  
    </h2>
    <h2 class="rotatingText w-52">
      <span class="rotatingText-adjective">Rust</span>
      <span class="rotatingText-adjective">C++</span>
      <span class="rotatingText-adjective">Java</span>
      <span class="rotatingText-adjective">Web</span>
      <span class="rotatingText-adjective">Web</span>

    </h2>
  </div>
</div>
