<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> Ekam's Website </title>
  <!-- Include htmx library -->
  <script src="/static/lib/htmx.js"></script>
  <link href="/static/output.css" rel="stylesheet">
</head>
<style>
.demo.faded {
  opacity:.3;
}
.demo {
  opacity:1;
  transition: opacity ease-in 900ms;
}
</style>
<body>
  <h1>Welcome to HTMX Example</h1>
<div class="demo" classes="toggle faded:1s">Toggle Demo</div>
</body>

</html>
