@tailwind base;
@tailwind components;
@tailwind utilities;

.fade2{
  animation: fadeIn 3s;
}

.fade3{
  animation: fadeIn 5s;
}

.fade {
    animation: fadeIn 1s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  h1 {
    color: white;
    font-size: 70px;
  }
  h2 {
    color: white;
    font-size: 50px;
    font-weight: bolder;
  }
  h3 {
    color: white;
  }
  h4 {
    color: lightgray;

  }

