@tailwind base;
@tailwind components;
@tailwind utilities;

.fade2{
  animation: fadeIn 1s;
}

.fade3{
  animation: fadeIn 3s;
}

.fade {
    animation: fadeIn 0.5s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  h1 {
    color: white;
    font-weight: bold;
    @apply text-7xl text-nowrap;
    /*later add md:(smaller text) for reactivity*/
  }
  h2 {
    color: white;
    font-size: 50px;
    font-weight: bold;
  }
  h3 {
    color: white;
    font-size: 30px;
  }
  h4 {
    color: lightgray;

  }
  html {
    scroll-behavior: smooth;
  }
.content-window {
  @apply w-full fade2 h-full flex flex-wrap items-center justify-center border-orange-300 border-b-2;
}