@tailwind base;
@tailwind components;
@tailwind utilities;

.fade {
    animation: fadeIn 1s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  h1 {
    color: white;
    font-size: 70px;
  }
  h2 {
    color: white;
    font-size: 50px;
    font-weight: bolder;
  }
  h3 {
    color: white;
  }
  h4 {
    color: lightgray;

  }

  .typewriter {
    overflow: hidden; 
    border-right: .1em solid white; 
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }