<h4
  id="stats"
  hx-get="/stats/false"
  hx-target="#stats"
  hx-swap="outerHTML"
  hx-trigger="every 2s"
>
  Hello! My name is Ekam, and i love coding. I've been coding since I was 12,
  when my first project - a RC car with a backup sensor - really got me hooked.
  As I finished, I realized that the coding part was the best! This sparked a
  newfound passion for programming, and soon I found myself creating all sorts
  of fun projects just for the sake of it (like building a fake call app,
  developing camera games, and experimenting with Pygame).
  {{uptime}}
  {{vists}}
</h4>